.trophy {
  width: 32%;
}

.trophy:nth-child(3n+2) {
  margin-left: 2%;
  margin-right: 2%;
}

.trophies {
  display: flex;
  flex-direction: column-reverse;
}

.trophies .trophy {
  margin-left: 34%;
  margin-right: 34%;
}